.Logo{
    width: 180px;
    height: 90px;
    padding-left: 530px;
    margin-top: -10px;
    overflow: visible;
}
body{
    background-color: burlywood;
}
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Amatic SC", sans-serif}
.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("pizza.jpg");
  min-height: 90%;
}

.topnav{
    background-color: #05386B;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #EDF5E1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
  }
  .topnav a:hover {
    background-color: black;
    color: white;

  }
  .topnav a.active {
    background-color: greenyellow;
    color: white;
  }
  .topnav a.split {
    float: right;
    background-color: white;/
    color: purple;
  }
  .topnav a.split:hover {
    background-color: black;
    color: white;
  }
.topnav-right{
    float: right;
}
div.container{
  display: flex;
  justify-content: center;
}

form{
  width: 18%;
  padding: 5px;
  border-radius: 10px;
  background-color: #A5D7E8;
}

