.Logo{
    width: 180px;
    height: 90px;
    padding-left: 530px;
    margin-top: -10px;
}
body{
    background-color: #5CDB95;
}
.topnav{
    background-color: #05386B;
    overflow: hidden;
}
.topnav a {
    float: left;
    color: #EDF5E1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 10px;
  }
  .topnav a:hover {
    background-color: black;
    color: white;

  }
  .topnav a.active {
    background-color: greenyellow;
    color: white;
  }
  .topnav a.split {
    float: right;
    background-color: white;/
    color: purple;
  }
  .topnav a.split:hover {
    background-color: black;
    color: white;
  }
.topnav-right{
    float: right;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-left: 10px;
    text-align: center;
    font-family: arial;
    margin-top:40px;
    border-radius: 20px;
  }
  
  .price {
    color: black;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: -20px;
  }
  
  .card button:hover {
    opacity: 0.7;
    transform:scale(1.05)
  }
  .card:hover {
    transform: scale(1.05);
  }